{% extends "unit.html" %}

{% block unitHeader %}Фильмотека{% endblock unitHeader %}

{% block unitQuestion %}Название этого фильма?{% endblock unitQuestion %}

{% block unitBody %}
    <div class="row justify-content-center pt-3">
        <div class="col-4">
            <img src="https://media.giphy.com/media/v1.Y2lkPTc5MGI3NjExMnA0MHl3MTZvbThwb2Q2NjRhenR0YzY2dmxzdmVwbWVhM2U1empvOSZlcD12MV9pbnRlcm5hbF9naWZfYnlfaWQmY3Q9Zw/HekrB46ZE0f5K/giphy.gif" class="img-fluid">
        </div>
    </div>
{% endblock unitBody %}
