{% extends "unit.html" %}

{% block unitHeader %}Фильмотека{% endblock unitHeader %}

{% block unitQuestion %}Из какого фильма эти кадры?{% endblock unitQuestion %}

{% block unitBody %}
    <div class="row pt-3">
        <div class="col-4">
            <img src="https://avatars.mds.yandex.net/get-kinopoisk-image/1946459/a475e6e0-55c4-41c6-8e6a-6d1575c60912/1920x" class="img-fluid">
        </div>
        <div class="col-4">
            <img src="https://avatars.mds.yandex.net/get-kinopoisk-image/1900788/2457c902-8736-4f35-bb01-76d88954877b/1920x" class="img-fluid">
        </div>
        <div class="col-4">
            <img src="https://avatars.mds.yandex.net/get-kinopoisk-image/1773646/5226a687-f2a7-469a-b137-66aa4d60a046/1920x" class="img-fluid">
        </div>
    </div>
{% endblock unitBody %}
