{% extends "unit.html" %}

{% block unitHeader %}Фильмотека{% endblock unitHeader %}

{% block unitQuestion %}Название этого фильма?{% endblock unitQuestion %}

{% block unitBody %}
    <div class="row justify-content-center pt-3">
        <div class="col-4">
            <img src="https://avatars.mds.yandex.net/get-kinopoisk-image/1629390/10aa87ae-2cc8-4c92-bffe-470b24a0d889/1920x" class="img-fluid">
        </div>
        <div class="col-4">
            <img src="https://avatars.mds.yandex.net/get-kinopoisk-image/1704946/3e0016f4-a61d-49a2-b6e7-5c7ff361a024/1920x" class="img-fluid">
        </div>
        <div class="col-4">
            <img src="https://avatars.mds.yandex.net/get-kinopoisk-image/1599028/64fd65bb-d25f-4afa-871b-0fa6ac25dd79/1920x" class="img-fluid">
        </div>
    </div>
{% endblock unitBody %}
