{% extends "unit.html" %}

{% block unitHeader %}Фильмотека{% endblock unitHeader %}

{% block unitQuestion %}Угадай фильм по описанию{% endblock unitQuestion %}

{% block unitBody %}
    <div class="row justify-content-center pt-3">
        <p>
            В руки карапуза <b>Фёдора Сумкина</b> попадает мегакольцо. Узнав об этом, злобный мордовский упырь насылает на Фёдора отряд конных SS-совцев. Свои планы на кольцо имеет и <b>Сарумян, сын Вассермана</b>. Но верные друзья Фёдора — майор милиции <b>Пендальф</b>, сельский паренёк <b>Сеня Ганджубас</b>, бомж <b>Агроном</b>, прибалтийский эльф <b>Логоваз</b>, грузин <b>Гиви</b>, а также земляки Фёдора, <b>Мерин и Пипин</b> — жёстко настроены обрубить волосатые щупальца злобной мордовской хунте и отнести мегакольцо в мегадомну, где предполагают безо всякой жалости расплавить этот вредный предмет.
        </p>
    </div>
{% endblock unitBody %}
